# Rproject files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Output files
.png
.pdf

# Output directory
plot/*
data/*
output/*
vignettes/plot/*
vignettes/data/*
vignettes/output/*
tests/testthat/data/*
/doc/
/Meta/
inst/doc
